*.txt
bootstrap*
ngisakhumbula.jpg
ungawubasa.jpg
usakhula.jpg
emahlukana*
emalangabi*
emanxiweni*
emdlalweni*
impilo*
indodakazi*
intombi*
isikhwili*
izithuku*
khandale*
kuyobu*
linda*
ngakonelani*
owami*
selimathu*
umuzi*
ungangeni*
uzangibonga*
